<template id="contact-list-template">
    <style>
        .container {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }

        contact-users {
            width: 15%;
            height: 100px;
        }

        contact-room {
            width: 85%;
        }
    </style>
    <div class="container">
        <contact-users></contact-users>
        <contact-room></contact-room>
    </div>
</template>
<script>
    (function (customElements) {
        'use strict';

        class ContactList extends HTMLElement {
            constructor() {
                super();
                this._initShadowDOM();
                this._templateToShadowDOM();
            }

            connectedCallback() {
                const users = this.shadowRoot.querySelector('contact-users');
                users.addEventListener('contact-picture-clicked', (event) => {
                    const room = this.shadowRoot.querySelector('contact-room');
                    room.setAttribute('username', event.detail.user._username);
                    room.setAttribute('image', event.detail.user._image);
                    room.setAttribute('job', event.detail.user._professional._job_title);
                    room.setAttribute('skills', event.detail.user._professional._skills);
                    room.setAttribute('phone', event.detail.user._personal._phone);
                    room.setAttribute('email', event.detail.user._personal._email);
                });
            }

            _initShadowDOM() {
                this.attachShadow({mode: 'open'});
            }

            _templateToShadowDOM() {
                const template = document.currentScript.ownerDocument.querySelector('#contact-list-template').content;
                this.shadowRoot.appendChild(document.importNode(template, true));
            }
        }

        customElements.define('contact-list', ContactList);
    })(window.customElements);
</script>