<template id="contact-users-template">
    <style>
        .container {
            display: flex;
            justify-content: space-around;
            padding-top: 100px;
            border: 1px solid;
            border-radius: 5px;
            flex-direction: column;
            overflow-y: scroll;
            height: 500px;
        }
    </style>
    <div class="container">
        <contact-picture username="malforime" avatar-src="components/avatar.png"
                         slot="contact-picture"></contact-picture>
        <contact-picture username="malforime" avatar-src="components/avatar.png"
                         slot="contact-picture"></contact-picture>
        <contact-picture username="malforime" avatar-src="components/avatar.png"
                         slot="contact-picture"></contact-picture>
        <contact-picture username="malforime" avatar-src="components/avatar.png"
                         slot="contact-picture"></contact-picture>
        <contact-picture username="malforime" avatar-src="components/avatar.png"
                         slot="contact-picture"></contact-picture>
    </div>
</template>
<script>
    (function (customElements) {
        'use strict';

        class ContactUsers extends HTMLElement {
            constructor() {
                super();
                this._initShadowDOM();
                this._templateToShadowDOM();
            }

            _initShadowDOM() {
                this.attachShadow({mode: 'open'});
            }

            _templateToShadowDOM() {
                const template = document.currentScript.ownerDocument.querySelector('#contact-users-template').content;
                this.shadowRoot.appendChild(document.importNode(template, true));
            }
        }

        customElements.define('contact-users', ContactUsers);
    })(window.customElements);
</script>s