<template id="contact-users-template">
    <style>
        .container {
            display: flex;
            justify-content: space-around;
        }
    </style>
    <div class="container">
        <contact-card user-id="1">
            <contact-picture username="malforime" avatar-src="components/avatar.png"
                             slot="contact-picture"></contact-picture>
            <contact-professional-data></contact-professional-data>
            <contact-personal-data></contact-personal-data>
        </contact-card>
    </div>
</template>
<script>
    (function (customElements) {
        'use strict';

        class ContactUsers extends HTMLElement {
            constructor() {
                super();
                this._initShadowDOM();
                this._templateToShadowDOM();
            }

            _initShadowDOM() {
                this.attachShadow({mode: 'open'});
            }

            _templateToShadowDOM() {
                const template = document.currentScript.ownerDocument.querySelector('#contact-users-template').content;
                this.shadowRoot.appendChild(document.importNode(template, true));
            }
        }

        customElements.define('contact-users', ContactUsers);
    })(window.customElements);
</script>s