<template id="contact-info-template">
    <style>
        .container {
            display: flex;
            border: 1px solid green;
            padding: 10px;
            border: 1px solid;
            height: 120px;
            align-items: center;
            justify-content: center;
        }
    </style>
    <div class="container">
        <contact-card>
            <contact-picture slot="contact-picture"></contact-picture>
            <contact-professional-data slot="contact-professional-data">
            </contact-professional-data>
            <contact-personal-data slot="contact-personal-data"></contact-personal-data>
        </contact-card>
    </div>
</template>
<script>
    (function (customElements) {
        'use strict';

        class ContactInfo extends HTMLElement {
            static get observedAttributes() {
                return ['username', 'image', 'job', 'skills', 'phone', 'email'];
            }

            constructor() {
                super();
                this._initShadowDOM();
                this._username = null;
                this._image = null;
                this._job = null;
                this._skills = null;
                this._phone = null;
                this._email = null;
            }

            _initShadowDOM() {
                this.attachShadow({mode: 'open'});
                const template = document.currentScript.ownerDocument.querySelector('#contact-info-template').content;
                this.shadowRoot.appendChild(document.importNode(template, true));
            }

            get username() {
                return this._username;
            }

            set username(username) {
                this.shadowRoot.querySelector('contact-picture').setAttribute('username', username);
            }

            get image() {
                return this._image;
            }

            set image(image) {
                this.shadowRoot.querySelector('contact-picture').setAttribute('avatar-src', image);
            }

            get job() {
                return this._job;
            }

            set job(job) {
                const professional = this.shadowRoot.querySelector('contact-professional-data');
                const node = document.createElement('span');
                node.setAttribute('slot', 'job');
                const text = document.createTextNode(job);
                node.appendChild(text);
                professional.innerHTML = '';
                professional.appendChild(node);
            }

            get skills() {
                return this._skills;
            }

            set skills(skills) {
                const professional = this.shadowRoot.querySelector('contact-professional-data');
                const node = document.createElement('span');
                node.setAttribute('slot', 'skills');
                const text = document.createTextNode(skills);
                node.appendChild(text);
                professional.appendChild(node);
            }

            get phone() {
                return this._phone;
            }

            set phone(phone) {
                const personal = this.shadowRoot.querySelector('contact-personal-data');
                const node = document.createElement('span');
                node.setAttribute('slot', 'phone');
                const text = document.createTextNode(phone);
                node.appendChild(text);
                personal.innerHTML = '';
                personal.appendChild(node);
            }

            get email() {
                return this._email;
            }

            set email(email) {
                const personal = this.shadowRoot.querySelector('contact-personal-data');
                const node = document.createElement('span');
                node.setAttribute('slot', 'email');
                const text = document.createTextNode(email);
                node.appendChild(text);
                personal.appendChild(node);
            }

            attributeChangedCallback(name, oldVal, newVal) {
                if (name === 'username') {
                    this.username = newVal;
                }
                if (name === 'image') {
                    this.image = newVal;
                }
                if (name === 'job') {
                    this.job = newVal;
                }
                if (name === 'skills') {
                    this.skills = newVal;
                }
                if (name === 'phone') {
                    this.phone = newVal;
                }
                if (name === 'email') {
                    this.email = newVal;
                }

            }

        }

        customElements.define('contact-info', ContactInfo);
    })
    (window.customElements);
</script>
