<template id="contact-professional-data-template">
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        }
        ul {
            list-style: none;
        }
    </style>
    <div class="container">
        <h4>Professional info</h4>
        <ul>
            <li>
                <strong>Job Title</strong>:
                <slot name="job"></slot>
            </li>
            <li>
                <strong>Skills</strong>:
                <slot name="skills"></slot>
            </li>
        </ul>
    </div>
</template>
<script>
    (function (customElements) {
        'use strict';

        class ContactProfessionalData extends HTMLElement {
            constructor() {
                super();
                this._initShadowDOM();
                this._templateToShadowDOM();
            }

            _initShadowDOM() {
                this.attachShadow({mode: 'open'});
            }

            _templateToShadowDOM() {
                const template = document.currentScript.ownerDocument.querySelector('#contact-professional-data-template').content;
                this.shadowRoot.appendChild(document.importNode(template, true));
            }
        }

        customElements.define('contact-professional-data', ContactProfessionalData);
    })(window.customElements);
</script>