<template id="contact-picture-template">
    <style>
        .container {
            display: flex;
            height: 130px;
            padding: 5px;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
        }

        .avatar {
            border-radius: 60%;
            max-width: 60px;
            max-height: 60px;
        }

        .name {
            display: block;
            text-align: center;
            font-family: arial;
            font-size: 15px;
            font-weight: bold;
        }
    </style>
    <div class="container">
        <img class="avatar">
        <span class="name"></span>
    </div>
</template>
<script>
    (function (customElements) {
        'use strict';

        class ContactPicture extends HTMLElement {
            constructor() {
                super();
                this._username = null;
                this._avatar_src = null;
                this._initShadowDOM();
                this._templateToShadowDOM();
            }

            static get observedAttributes() {
                return ['avatar-src', 'username'];
            }

            get username() {
                return this._username;
            }

            set username(username) {
                this.setAttribute('username', username);
            }

            get avatar_src() {
                return this._avatar_src;
            }

            set avatar_src(avatarSource) {
                this.setAttribute('avatar-src', avatarSource);
            }

            attributeChangedCallback(name, oldValue, newValue) {
                switch (name) {
                    case 'avatar-src':
                        this._avatar_src = newValue;
                        this._changePicture();
                        break;
                    case 'username':
                        this._username = newValue;
                        this._changeUsername();
                        break;
                    default:
                        break;
                }
            }

            connectedCallback() {

            }

            _templateToShadowDOM() {
                const template = document.currentScript.ownerDocument.querySelector('#contact-picture-template').content;
                this.shadowRoot.appendChild(document.importNode(template, true));
            }

            _initShadowDOM() {
                this.attachShadow({mode: 'open'});
            }

            _changeUsername() {
                const parent = this.shadowRoot.querySelector('.container');
                parent.innerHTML = '';
                parent.innerHTML += `<span class="name">${this.username}</span>`;
            }

            _changePicture() {
                let parent = this.shadowRoot.querySelector('.container');
                parent.innerHTML += `<img src="${this.avatar_src}" class="avatar">`;
            }
        }

        customElements.define('contact-picture', ContactPicture);
    })(window.customElements);
</script>
