<template id="message-template">
  <style>
    div {
      border: 1px solid gray;
      border-radius: 5px;
      background-color: lightgreen;
      padding: 5px;
      width: 40%;
    }
    p {
      color: black;
      display: inline-block;
      font-family: arial;
      font-size: 13px;
      margin: 0;
      width: 60%;
    }
    .current-user {
      background-color: lightgreen;
    }
    .other-user {
      background-color: #ededed;
    }
    div ::slotted(div) {
      display: inline-block;
      width: 30%;
    }
  </style>
  <div>
    <slot></slot>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod debitis doloremque tenetur sed reiciendis animi asperiores. Est modi magnam quae facilis ratione ex voluptatibus iste temporibus a, repellat deserunt velit!</p>
  </div>
</template>
<script>
  (function(customElements) {
    'use strict';

    class contactMessage extends HTMLElement {
      constructor() {
        super();
        this.user = "current";

        const shadowRoot = this.attachShadow({mode: 'open'});
        const templ = document.currentScript.ownerDocument.querySelector('#message-template');
        shadowRoot.appendChild(document.importNode(templ.content, true));
      }

      // Watch an attribute
      static get observedAttributes() {
        return ['user'];
      }
      get user() {
        return this.user;
      }
      set user(user) {
        this.setAttribute("user", user);
      }

      attributeChangedCallback(attrName, oldVal, newVal) {
        console.log(`attributeChangedCallback called. attrName: ${attrName}; oldVal: ${oldVal}; newVal: ${newVal}`)
        this.shadowRoot.querySelector('div').setAttribute('class', newVal + '-user')
      }
    }
    customElements.define('contact-message', contactMessage);
  })(window.customElements)
</script>
