<template id="contact-info-template">
  <style>
    div {
      border: 1px solid #ccc;
      border-radius: 5px;
      display: inline-block;
      height: 200px;
      padding: 20px;
    }
    ul {
      list-style: none;
      display: inline-block;
      width: 45%;
    }
    li {
      display: flex;
      justify-content:flex-start;
    }
    h5, p{
      font-style: arial;
      font-size: 18px;
      margin: 10px 5px;
    }
  </style>
  <section class="info">
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis inventore fuga ipsa debitis qui repellendus illo voluptatum dolorum veritatis doloremque hic, expedita dolores veniam cumque minima autem sequi quia minus.</p>
      <ul>
        <li><h5>Info:</h5><p>Esta es la info</p></li>
        <li><h5>Info:</h5><p>Esta es la info</p></li>
        <li><h5>Info:</h5><p>Esta es la info</p></li>
      </ul>
      <ul>
        <li><h5>Info:</h5><p>Esta es la info</p></li>
        <li><h5>Info:</h5><p>Esta es la info</p></li>
        <li><h5>Info:</h5><p>Esta es la info</p></li>
      </ul>
    </div>
  </section>
</template>
<script>
  (function(customElements) {
    'use strict';

    class ContactInfo extends HTMLElement {
      constructor() {
        super();

        const shadowRoot = this.attachShadow({mode: 'open'});
        const templ = document.currentScript.ownerDocument.querySelector('#contact-info-template');
        shadowRoot.appendChild(document.importNode(templ.content, true));
      }

    }
    customElements.define('contact-info', ContactInfo);
  })(window.customElements)
</script>
