<template id="contact-textbox-template">
  <style>
    .container {
      border: 2px solid #ccc;
      border-radius: 5px;
      background-color: #ccc;
      display: inline-block;
      height: 410px;
      padding: 5px;
      vertical-align: top;
      width: 400px;
    }
    textarea {
      border-radius: 5px;
      font-size: 20px;
      height: 330px;
      padding: 10px;
      width: 375px;
    }
    button {
      background: linear-gradient(#14a001, #2f7f05);
      border: 1px solid #ccc;
      border-radius: 5px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin: 10px 0;
      padding: 10px 0;
      width: 100%;
    }
  </style>
  <div class="container">
    <textarea name="name" rows="8" cols="80"></textarea>
    <button>Send</button>
  </div>
</template>
<script>
    (function (customElements) {
        'use strict';

        class ContactTextBox extends HTMLElement {
            constructor() {
                super();
                this._initShadowDOM();
                this._templateToShadowDOM();
            }

            _initShadowDOM() {
                this.attachShadow({mode: 'open'});
            }

            _templateToShadowDOM() {
                const template = document.currentScript.ownerDocument.querySelector('#contact-textbox-template').content;
                this.shadowRoot.appendChild(document.importNode(template, true));
            }
        }

        customElements.define('contact-textbox', ContactTextBox);
    })(window.customElements);
</script>
